.header-image{
    height: 40vh; 
    width: 100%;
    object-fit:cover;
}
._custom-card{
    width: 10rem;
    margin-top: 2%;
}
._slider{
    height: 40vh; 
    width: 100%;
    object-fit:cover;
}

@media screen and (min-width: 600px) {
    ._custom-card{
        width: 14rem;
    }
    ._gallery-container{
    padding: 0% 5% 0% 5%;
}
}
@media screen and (min-width: 1000px) {
    ._custom-card{
        width: 18rem;
    }
}

